<a href="https://colab.research.google.com/github/inefable12/Python_para_todos/blob/main/03_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://miro.medium.com/v2/resize:fit:1400/1*zomnCz8-VMgrSV8eLCx2tw.gif" width="200" alt="molecula"  />

$$\Large \textit{Cuadernos de CÃ³digo}$$

---
$$\large\textbf{Pandas}$$

---
$$\textit{Resumen}$$

<br>
<br>

Basado en: https://github.com/albahnsen/PracticalMachineLearningClass

In [ ]:
!pip freeze

In [ ]:
!ls

In [ ]:
##!pip install pandas  #instalar
#actualizar

!pip install --upgrade pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from pandas import Series

In [ ]:
pd.__version__

In [ ]:
ser1 = pd.Series([1, 1, 2, -3, -5, -5, 13, 1.2, 'hola'])

In [ ]:
type(ser1)

In [ ]:
print(ser1)

## Series

A Series is a one-dimensional array-like object containing an array of data and an associated array of data labels.  The data can be any NumPy data type and the labels are the Series' index.

Create a Series:

In [ ]:
ser_1 = pd.Series([1, 1, 2, -3, -5, -5, 13, 1.2, 'a'])
#ser_1.astype(str)
ser_1

In [ ]:
mi_lista = [1,2,'a',4,5,6.3]
mi_lista

Get the array representation of a Series:

In [ ]:
list(ser_1.values)

Index objects are immutable and hold the axis labels and metadata such as names and axis names.

Get the index of the Series:

In [ ]:
pares = [indice for indice in list(ser_1.index.values) if indice%2==0]

In [ ]:
ser_1[pares]

Create a Series with a custom index:

In [ ]:
ser_2 = pd.Series([1, 1, 2, -3, 6], index=['a', 'b', 'c', 'd', 'e'])
ser_2

Get a value from a Series:

In [ ]:
ser_2[4]

In [ ]:
ser_2['e']

In [ ]:
ser_2[4] == ser_2['e']

Get a set of values from a Series by passing in a list:

In [ ]:
ser_2[['c', 'a', 'b']]

In [ ]:
ser_2

Get values great than 0:

In [ ]:
ser_2[ser_2 > 0]

In [ ]:
ser_2 > 0

In [ ]:
a = [1,2,3]

a*3

In [ ]:
type(a)

Scalar multiply:

In [ ]:
ser_2 * 2

In [ ]:
type(ser_2)

Apply a numpy math function:

In [ ]:
import numpy as np

np.exp(ser_2)

A Series is like a fixed-length, ordered dict.  

Create a series by passing in a dict:

In [ ]:
dict_1 = {'foo' : 100, 'bar' : 200, 'baz' : 300}

dict_1

In [ ]:
ser_3 = pd.Series(dict_1)
ser_3

Re-order a Series by passing in an index (indices not found are NaN):

In [ ]:
index = ['foo', 'bar', 'baz', 'xyz']
ser_4 = pd.Series(dict_1, index=index)
ser_4

In [ ]:
~pd.isnull(ser_4)

Check for NaN with the pandas method:

In [ ]:
ser_4[~pd.isnull(ser_4)]

Check for NaN with the Series method:

In [ ]:
ser_4.isnull().sum()

In [ ]:
ser_4.isnull()

In [ ]:
ser_4.isnull().mean()

In [ ]:
ser_4.isnull()

Series automatically aligns differently indexed data in arithmetic operations:

In [ ]:
20 + np.nan

In [ ]:
ser_3

In [ ]:
ser_4

In [ ]:
ser_3 + ser_4

Name a Series:

In [ ]:
ser_4.name = 'foobarbazqux'

Name a Series index:

In [ ]:
ser_4.index.name = 'label'

In [ ]:
ser_4

Rename a Series' index in place:

In [ ]:
ser_4.index = ['fo', 'br', 'bz', 'qx']
ser_4

## DataFrame

A DataFrame is a tabular data structure containing an ordered collection of columns.  Each column can have a different type.  DataFrames have both row and column indices and is analogous to a dict of Series.  Row and column operations are treated roughly symmetrically.  Columns returned when indexing a DataFrame are views of the underlying data, not a copy.  To obtain a copy, use the Series' copy method.

Create a DataFrame:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data_1 = {'state' : ['VA', 'VA', 'VA', 'MD', 'MD'],
          'year' : [2012, 2013, 2014, 2014, 2015],
          'pop' : [5.0, 5.1, 5.2, 4.0, 4.1]}

df_1 = pd.DataFrame(data_1)
df_1

Create a DataFrame specifying a sequence of columns:

In [ ]:
df_2 = pd.DataFrame(data_1, columns=['year', 'state', 'pop'])
df_2

Like Series, columns that are not present in the data are NaN:

In [ ]:
df_3 = pd.DataFrame(data_1, columns=['year', 'state', 'pop', 'unempl'])
df_3

In [ ]:
df_3.info()

In [ ]:
df_3['state'] = df_3['state'].astype(str)

In [ ]:
df_3['state']

In [ ]:
pd.DataFrame(df_3['state'])

In [ ]:
type(df_3)

Retrieve a column by key, returning a Series:

In [ ]:
df_3['year']

Retrive a column by attribute, returning a Series:

In [ ]:
df_3.year

In [ ]:
df_3[['year', 'state']]

Retrieve a row by position:

In [ ]:
df_3

In [ ]:
df_3.iloc[0]

In [ ]:
df_3['pop']

In [ ]:
np.arange(5)

In [ ]:
df_3

Update a column by assignment:

In [ ]:
df_3['unempl'] = np.arange(5)
df_3

Assign a Series to a column (note if assigning a list or array, the length must match the DataFrame, unlike a Series):

In [ ]:
unempl = pd.Series([6.0, 6.0, 6.1], index=[2, 3, 4])
unempl

In [ ]:
df_3['unempl'] = unempl
df_3

Assign a new column that doesn't exist to create a new column:

In [ ]:
df_3['state_duplicado'] = df_3['state']
df_3

Delete a column:

In [ ]:
del df_3['state_duplicado']
df_3

Create a DataFrame from a nested dict of dicts (the keys in the inner dicts are unioned and sorted to form the index in the result, unless an explicit index is specified):

In [ ]:
pop = {'VA' : {2013 : 5.1, 2014 : 5.2},
       'MD' : {2014 : 4.0, 2015 : 4.1}}
pop

In [ ]:
df_4 = pd.DataFrame(pop)
df_4

Transpose the DataFrame:

In [ ]:
df_4.T

Create a DataFrame from a dict of Series:

In [ ]:
df_4

In [ ]:
df_4['VA'][1:]

In [ ]:
data_2 = {'VA' : df_4['VA'][1:],
          'MD' : df_4['MD'][2:]}
df_5 = pd.DataFrame(data_2)
df_5

Set the DataFrame index name:

In [ ]:
df_5.index.name = 'year'
df_5

Set the DataFrame columns name:

In [ ]:
df_5.columns.name = 'state'
df_5

Return the data contained in a DataFrame as a 2D ndarray:

In [ ]:
df_5.values

If the columns are different dtypes, the 2D ndarray's dtype will accomodate all of the columns:

In [ ]:
df_3.values

## Reindexing

Create a new object with the data conformed to a new index.  Any missing values are set to NaN.

In [ ]:
df_3

Reindexing rows returns a new frame with the specified index:

In [ ]:
df_3.reindex(list(reversed(range(0, 6))))

Missing values can be set to something other than NaN:

In [ ]:
df_3.reindex(range(6, 0), fill_value=0)

Interpolate ordered data like a time series:

In [ ]:
ser_5 = pd.Series(['foo', 'bar', 'baz'], index=[0, 2, 4])

In [ ]:
ser_5.reindex(range(5), method='ffill')

In [ ]:
ser_5.reindex(range(5), method='bfill')

Reindex columns:

In [ ]:
df_3.reindex(columns=['state', 'pop', 'unempl', 'year'])

Reindex rows and columns while filling rows:

In [ ]:
df_3.reindex(index=list(reversed(range(0, 6))),
             fill_value=0,
             columns=['state', 'pop', 'unempl', 'year'])

Reindex using ix:

In [ ]:
df_6 = df_3.iloc[np.arange(0, 6), ['state', 'pop', 'unempl', 'year']]
df_6

## Dropping Entries

Drop rows from a Series or DataFrame:

In [ ]:
df_7 = df_6.drop([0, 1])
df_7

Drop columns from a DataFrame:

In [ ]:
df_7 = df_7.drop('unempl', axis=1)
df_7

## Indexing, Selecting, Filtering

Series indexing is similar to NumPy array indexing with the added bonus of being able to use the Series' index values.

In [ ]:
ser_2

Select a value from a Series:

In [ ]:
ser_2[0] == ser_2['a']

Select a slice from a Series:

In [ ]:
ser_2[1:4]

Select specific values from a Series:

In [ ]:
ser_2[['b', 'c', 'd']]

Select from a Series based on a filter:

In [ ]:
ser_2[ser_2 > 0]

Select a slice from a Series with labels (note the end point is inclusive):

In [ ]:
ser_2['a':'c']

Assign to a Series slice (note the end point is inclusive):

In [ ]:
ser_2['a':'b'] = 0
ser_2

Pandas supports indexing into a DataFrame.

In [ ]:
df_3

Select specified columns from a DataFrame:

In [ ]:
df_3[['pop', 'unempl']]

Select a slice from a DataFrame:

In [ ]:
df_3.iloc[:2]

In [ ]:
df_3

Select from a DataFrame based on a filter:

In [ ]:
df_3.loc[df_3['pop'] > 5,]

In [ ]:
df_3['pop'] > 5

In [ ]:
df_3.query('pop > 5')

In [ ]:
df_3.loc[(df_3['pop'] > 5) | (df_3['year'] == 2013),]

In [ ]:
df_3.query('pop > 5 or year==2013')

In [ ]:
df_3['pop'] > 5

Perform a scalar comparison on a DataFrame:

In [ ]:
df_6 > 5

Perform a scalar comparison on a DataFrame, retain the values that pass the filter:

In [ ]:
df_6[df_6 > 5]

Select a slice of rows from a DataFrame (note the end point is inclusive):

In [ ]:
df_6.ix[2:3]

Select a slice of rows from a specific column of a DataFrame:

In [ ]:
df_6.loc[0:2, 'pop']
df_6

In [ ]:
df_6.loc[df_6.unempl > 5.0, 'pop']

Select rows based on an arithmetic operation on a specific row:

In [ ]:
df_6.ix[df_6.unempl > 5.0]

## Arithmetic and Data Alignment

Adding Series objects results in the union of index pairs if the pairs are not the same, resulting in NaN for indices that do not overlap:

In [ ]:
np.random.seed(0)
ser_6 = pd.Series(np.random.randn(5),
               index=['a', 'b', 'c', 'd', 'e'])
ser_6

In [ ]:
np.random.seed(1)
ser_7 = pd.Series(np.random.randn(5),
               index=['a', 'c', 'e', 'f', 'g'])
ser_7

In [ ]:
ser_6 + ser_7

Set a fill value instead of NaN for indices that do not overlap:

In [ ]:
print(ser_6)
print(ser_7)

In [ ]:
ser_6.add(ser_7, fill_value=0)

Adding DataFrame objects results in the union of index pairs for rows and columns if the pairs are not the same, resulting in NaN for indices that do not overlap:

In [ ]:
np.random.seed(0)
df_8 = pd.DataFrame(np.random.rand(9).reshape((3, 3)),
                 columns=['a', 'b', 'c'])
df_8

In [ ]:
np.random.seed(1)
df_9 = pd.DataFrame(np.random.rand(9).reshape((3, 3)),
                 columns=['b', 'c', 'd'])
df_9

In [ ]:
df_8 + df_9

Set a fill value instead of NaN for indices that do not overlap:

In [ ]:
df_10 = df_8.add(df_9, fill_value=0)
df_10

Like NumPy, pandas supports arithmetic operations between DataFrames and Series.

Match the index of the Series on the DataFrame's columns, broadcasting down the rows:

In [ ]:
ser_8 = df_10.ix[0]
df_11 = df_10 - ser_8
df_11

Match the index of the Series on the DataFrame's columns, broadcasting down the rows and union the indices that do not match:

In [ ]:
ser_9 = pd.Series(range(3), index=['a', 'd', 'e'])
ser_9

In [ ]:
df_11 - ser_9

Broadcast over the columns and match the rows (axis=0) by using an arithmetic method:

In [ ]:
df_10

In [ ]:
ser_10 = pd.Series([100, 200, 300])
ser_10

In [ ]:
df_10.sub(ser_10, axis=0)

## Function Application and Mapping

NumPy ufuncs (element-wise array methods) operate on pandas objects:

In [ ]:
df_11 = np.abs(df_11)
df_11

Apply a function on 1D arrays to each column:

In [ ]:
func_1 = lambda x: x.max() - x.min()
df_11.apply(func_1)

Apply a function on 1D arrays to each row:

In [ ]:
df_11.apply(func_1, axis=1)

Apply a function and return a DataFrame:

In [ ]:
func_2 = lambda x: pd.Series([x.min(), x.max()], index=['min', 'max'])
df_11.apply(func_2)

Apply an element-wise Python function to a DataFrame:

In [ ]:
func_3 = lambda x: '%.2f' %x
df_11.applymap(func_3)

Apply an element-wise Python function to a Series:

In [ ]:
df_11['e'] = df_11['a'].map(func_3)

## Sorting and Ranking

In [ ]:
ser_4

Sort a Series by its index:

In [ ]:
ser_4.sort_index()

Sort a Series by its values:

In [ ]:
ser_4.sort_values(ascending=False)

In [ ]:
df_12 = pd.DataFrame(np.arange(12).reshape((3, 4)),
                  index=['three', 'one', 'two'],
                  columns=['c', 'a', 'b', 'd'])
df_12

Sort a DataFrame by its index:

In [ ]:
df_12.sort_index()

Sort a DataFrame by columns in descending order:

In [ ]:
df_12.sort_index(axis=1, ascending=False)

Sort a DataFrame's values by column:

In [ ]:
df_12.sort_index(by=['d', 'c'])

Ranking is similar to numpy.argsort except that ties are broken by assigning each group the mean rank:

In [ ]:
ser_11 = pd.Series([7, -5, 7, 4, 2, 0, 4, 7])
ser_11 = ser_11.order()
ser_11

In [ ]:
ser_11.rank()

Rank a Series according to when they appear in the data:

In [ ]:
ser_11.rank(method='first')

Rank a Series in descending order, using the maximum rank for the group:

In [ ]:
ser_11.rank(ascending=False, method='max')

DataFrames can rank over rows or columns.

In [ ]:
df_13 = pd.DataFrame({'foo' : [7, -5, 7, 4, 2, 0, 4, 7],
                   'bar' : [-5, 4, 2, 0, 4, 7, 7, 8],
                   'baz' : [-1, 2, 3, 0, 5, 9, 9, 5]})
df_13

Rank a DataFrame over rows:

In [ ]:
df_13.rank()

Rank a DataFrame over columns:

In [ ]:
df_13.rank(axis=1)

## Axis Indexes with Duplicate Values

Labels do not have to be unique in Pandas:

In [ ]:
ser_12 = pd.Series(range(5), index=['foo', 'foo', 'bar', 'bar', 'baz'])
ser_12

In [ ]:
ser_12.index.is_unique

Select Series elements:

In [ ]:
ser_12['foo']

Select DataFrame elements:

In [ ]:
df_14 = pd.DataFrame(np.random.randn(5, 4),
                  index=['foo', 'foo', 'bar', 'bar', 'baz'])
df_14

In [ ]:
df_14.ix['bar']

## Summarizing and Computing Descriptive Statistics

Unlike NumPy arrays, Pandas descriptive statistics automatically exclude missing data.  NaN values are excluded unless the entire row or column is NA.

In [ ]:
df_15 = pd.DataFrame(np.random.randn(10, 3),
                     columns=['a', 'b', 'c'])
df_15['cat1'] = (np.random.rand(10) * 3).round(0)
df_15['cat2'] = (np.random.rand(10)).round(0)

In [ ]:
df_15

### Sum and Mean

In [ ]:
df_15.sum()

In [ ]:
df_15.sum(axis=1)

In [ ]:
df_15.mean(axis=0)

### Max and max location

In [ ]:
df_15.max()

In [ ]:
df_15.idxmax()

### Descriptive analysis

In [ ]:
df_15['a'].describe()

In [ ]:
df_15['cat1'].value_counts()

## Pivot tables

### group by cat1 and calculate mean

In [ ]:
pd.pivot_table(df_15, index='cat1', aggfunc=np.mean)

### group by cat1 and cat2 calculate the sum of b

In [ ]:
pd.pivot_table(df_15, index='cat1', columns='cat2', values='b', aggfunc=np.sum)